<section class="books-section books-container">
  <h2 class="visually-hidden">Trending books</h2>
  <div class="books-categories-info">
    <h3 class="books-subtitle">Books</h3>
    <p id="books-count">Showing 10 of 100</p>
  </div>
  <ul class="category-list">
    <select id="categorySelect" class="dropdown-select">
      <option value="" disabled selected hidden>Categories</option>
    </select>
  </ul>
  <ul class="books-list"></ul>
  <button class="pagination-btn hidden">Show More</button>
</section>
