<div class="book-modal is-hidden">
    <div class="window-book-modal">
        <button type="button" class="close-btn-book-modal">
            <svg class="close-icon-book-modal" width="24" height="24">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>

        <div class="book-details-book-modal">
            <img src="" alt="Book Cover" class="book-image-book-modal">
            <h2 class="book-title-book-modal"></h2>
            <p class="book-author-book-modal"></p>
            <p class="book-price-book-modal"></p>
        
            <form class="order-form-book-modal">
                <div class="quantity-control-book-modal">
                    <button type="button" class="quantity-btn-book-modal decrease-btn">-</button>
                    <input type="number" class="quantity-input-book-modal" value="1" min="1" readonly>
                    <button type="button" class="quantity-btn-book-modal increase-btn">+</button>
                </div>
                <button type="button" class="add-to-cart-btn-book-modal">Add To Cart</button>
                <button type="submit" class="buy-now-btn-book-modal">Buy Now</button>
            </form>
        
            <div class="book-accordion-book-modal">
            </div>
        </div>
    </div>
</div>