<section class="hero">
    <div class="container hero-container">


        <div class="hero-swiper">
            <ul class="hero-list swiper-wrapper">
                <li class="hero-item swiper-slide">
                    <picture>
                        <source srcset="/img/webp/hero/hero-baner1desk.jpg,
                        /img/webp/hero/hero-baner1desk@2.jpg" media="(min-width: 1440px)" />
                        <source srcset="/img/webp/hero/hero-baner1tab.jpg,
                                /img/webp/hero/hero-baner1tab@2.jpg" media="(min-width: 768px)" />
                        <source srcset="/img/webp/hero/hero-baner1mob.jpg, 
                        /img/webp/hero/hero-baner1mob@2.jpg" media="(max-width: 767px)" />
                        <img class="picture" src="/img/webp/hero/hero-baner1mob.jpg" alt="BankApp" />
                    </picture>
                    <div class="hero-wrap hero-first-wrap">
                        <h2 class="hero-subtitle">Get 10% off your first order</h2>
                        <a class="hero-link" href="./books.html"><button class="hero-btn" type="button">Shop
                                Now!</button></a>
                    </div>
                </li>
                <li class="hero-item swiper-slide">
                    <picture>
                        <source srcset="/img/webp/hero/hero-baner2desk.jpg,
                        /img/webp/hero/hero-baner2desk@2.jpg" media="(min-width: 1440px)" />
                        <source srcset="/img/webp/hero/hero-baner2tab.jpg,
                        /img/webp/hero/hero-baner2tab@2.jpg" media="(min-width: 768px)" />
                        <source srcset="/img/webp/hero/hero-baner2mob.jpg, 
                        /img/webp/hero/hero-baner2mob@2.jpg" media="(max-width: 767px)" />
                        <img class="picture" src="/img/webp/hero/hero-baner2mob.jpg" alt="BankApp" />
                    </picture>

                    <div class="hero-wrap hero-second-wrap">
                        <h2 class="hero-subtitle">Save 15% on some books</h2>
                        <a class="hero-link" href="./books.html"><button class="hero-btn" type="button">Shop
                                Now!</button></a>
                    </div>
                </li>
                <li class="hero-item swiper-slide">
                    <picture class="picture">
                        <source srcset="/img/webp/hero/hero-baner3desk.jpg,
                        /img/webp/hero/hero-baner3desk@2.jpg" media="(min-width: 1440px)" />
                        <source srcset="/img/webp/hero/hero-baner3tab.jpg,
                        /img/webp/hero/hero-baner3tab@2.jpg" media="(min-width: 768px)" />
                        <source srcset="/img/webp/hero/hero-baner3mob.jpg, 
                        /img/webp/hero/hero-baner3mob@2.jpg" media="(max-width: 767px)" />
                        <img class="picture" src="/img/webp/hero/hero-baner3mob.jpg" alt="BankApp" />
                    </picture>

                    <div class="hero-wrap hero-third-wrap">
                        <h2 class="hero-subtitle">Summer Sale! <br>Up to -40% discounts</h2>
                        <a class="hero-link" href="./books.html"><button class="hero-btn" type="button">Shop
                                Now!</button></a>
                    </div>
                </li>
                <li class="hero-item swiper-slide">
                    <picture>
                        <source srcset="/img/webp/hero/hero-baner4desk.jpg,
                        /img/webp/hero/hero-baner4desk@2.jpg" media="(min-width: 1440px)" />
                        <source srcset="/img/webp/hero/hero-baner4tab.jpg,
                        /img/webp/hero/hero-baner4tab@2.jpg" media="(min-width: 768px)" />
                        <source srcset="/img/webp/hero/hero-baner4mob.jpg, 
                        /img/webp/hero/hero-baner4mob@2.jpg" media="(max-width: 767px)" />
                        <img class="picture" src="/img/webp/hero/hero-baner4mob.jpg" alt="BankApp" />
                    </picture>

                    <div class="hero-wrap hero-fourth-wrap">
                        <h2 class="hero-subtitle">Last chance to buy our spring bestsellers</h2>
                        <a class="hero-link" href="./books.html"><button class="hero-btn" type="button">Shop
                                Now!</button></a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="hero-box">
            <h1 class="hero-title">Discover Your Next Great Read Today!</h1>

            <div class="hero-btn-box">
                <button class="hero-btn-slide hero-btn-slide-prev" aria-label="Previous slide" disabled>
                    <svg class="hero-arrow-btn-prev" width="24" height="24">
                        <use href="/img/webp/sprite.svg#icon-left-arrow-alt"></use>
                    </svg></button>
                <button class="hero-btn-slide hero-btn-slide-next" aria-label="Next slide">
                    <svg class="hero-arrow-btn-next " width="24" height="24">
                        <use href="/img/webp/sprite.svg#icon-right-arrow-alt"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>