<section class="section-layout-section" id="layout">
    <div class="layout-location-section container">
        <div class="block-layout-location-section">
            <div class="article-layout-location-section">
                <h3 class="title-layout-location-section">Welcome to Booksy – your cozy corner for handpicked reads.
                </h3>
                <p class="text-layout-location-section">We believe books are more than just stories — they’re
                    companions,
                    doorways, and memories. Whether you’re chasing
                    adventures or quiet moments, we’re here to help you find your next favorite book.</p>
            </div>

            <div class="location-section-picture">
                <picture>
                    <source
                        srcset="./img/location/welcome-to-booksy-pc.jpg 1x, ./img/location/welcome-to-booksy-pc@2x.jpg 2x"
                        media="(min-width: 1440px)" />
                    <source
                        srcset="./img/location/welcome-to-booksy-tab.jpg 1x, ./img/location/welcome-to-booksy-tab@2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <source
                        srcset="./img/location/welcome-to-booksy-mob.jpg 1x, ./img/location/welcome-to-booksy-mob@2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <img src="./img/location/welcome-to-booksy-mob.jpg" alt="Welcome to booksy" class="location-image"
                        loading="lazy" />
                </picture>
            </div>
        </div>
    </div>
</section>

<section class="section-location-section" id="location">
    <div class="location-section-container container">
        <div class="block-location-contacts-location-section">
            <div class="location-block-location-section">
                <h2 class="marker-location-location-section">Location</h2>
                <h3 class="title-location-location-section">How to find us</h3>
                <p class="text-location-location-section">We’re located in the heart of the city — a cozy corner where
                    books
                    come to life. Drop by to discover your next favorite
                    story or simply connect with fellow book lovers.</p>
            </div>

            <div class="contact-block-location-section">
                <ul class="contact-list">
                    <li class="contact-item">
                        <svg class="contact-icon" width="24" height="24">
                            <use href="./img/webp/sprite.svg#icon-envelope"></use>
                        </svg>
                        <div class="contact-info">
                            <h4 class="contact-label">Email</h4>
                            <a href="mailto:hello@booksy.com" class="contact-link">hello@booksy.com</a>
                        </div>
                    </li>

                    <li class="contact-item">
                        <svg class="contact-icon" width="24" height="24">
                            <use href="./img/webp/sprite.svg#icon-phone"></use>
                        </svg>
                        <div class="contact-info">
                            <h4 class="contact-label">Phone</h4>
                            <a href="tel:+612413043012" class="contact-link">+61 (241) 304–3012</a>
                        </div>
                    </li>

                    <li class="contact-item">
                        <svg class="contact-icon" width="24" height="24">
                            <use href="./img/webp/sprite.svg#icon-map"></use>
                        </svg>
                        <div class="contact-info">
                            <h4 class="contact-label">Office</h4>
                            <p class="contact-text">123 Books St, Sydney NSW 2000 AU</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="map-container-location-section">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13492.184318488036!2d151.18818468715818!3d-33.8726763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae3e5fda3c47%3A0xa6229f1c028dcb81!2sKinokuniya%20Sydney!5e1!3m2!1suk!2sua!4v1751563679591!5m2!1suk!2sua"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>