.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.books-container {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .books-container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .books-container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .books-container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
