

.book-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.book-modal.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.window-book-modal {
    position: relative;
    background-color: #fceee6;
    padding: 64px;
    border-radius: 16px;
    width: 1300px;
    height: 912px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 0.3s ease;
}

.book-modal.is-hidden .window-book-modal {
    transform: scale(0.8);
}

.close-btn-book-modal {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon-book-modal {
    fill: #333;
    transition: fill 0.2s ease;
}

.close-btn-book-modal:hover .close-icon-book-modal {
    fill: #007bff;
}

.book-details-book-modal {
    display: flex;
    gap: 24px;
    text-align: left;
    justify-content: flex-start;
    padding: 64px 104px;
}
.book-info-book-modal {
    width: 100%;
}
.book-image-book-modal {
    width: 309px;
    height: 464;
}

.book-title-book-modal {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: -0.01em;
        color: #0b0500;
        padding-bottom: 8px;
}

.book-author-book-modal {
    font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #0b0500;
        padding-bottom: 8px;
}

.book-price-book-modal {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: -0.01em;
        color: #0b0500;
        padding-bottom: 24px;
}
.order-form-book-modal {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
   justify-content: flex-start; 
   flex-wrap: wrap;
   
   
}

.quantity-control-book-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-order-book-modal {
display: flex;
gap: 24px;
width: 642px;
height: 48px;
}
.quantity-btn-book-modal {
    background-color: transparent;
    color: black;
    border: 1px solid #0b0500;
    border-radius: 4px;
    width: 32px;
    height: 40px;
    text-align: center;
    cursor: pointer;
   
}
.minus-icon-book-modal {
    fill: black;
}
.plus-icon-book-modal {
    fill: black;
}
.quantity-input-book-modal {
    text-align: center;
    font-size: 18px;
    width: 42px;
    height: 40px;
    border: 1px solid rgba(11, 5, 0, 0.15);
    border-radius: 4px;
    color: #0b0500;    
    background-color: transparent;    
}

.add-to-cart-btn-book-modal,
.buy-now-btn-book-modal {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-to-cart-btn-book-modal {
    border: 1px solid #e15d05;
        border-radius: 4px;
        padding: 12px 24px;
        width: 309px;
        height: 48px;
        background-color: #e15d05;
        color: white;
}

.add-to-cart-btn-book-modal:hover {
    background-color: #218838;
}

.buy-now-btn-book-modal {
    background-color: transparent;
    color: #333;
    border: 1px solid #0b0500;
        border-radius: 4px;
        padding: 12px 24px;
        width: 309px;
        height: 48px;
}

.buy-now-btn-book-modal:hover {
    background-color: #e0a800;
}


.book-accordion-book-modal {
    margin-top: 20px;
    width: 100%;
}


body.window-book-modal-open {
    overflow: hidden;
}