.cart-modal-backdrop {
  position: fixed;
  inset: 0;
  /* width: 100%; */
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.cart-modal {
  background: #fceee6;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.cart-modal::-webkit-scrollbar {
  width: 14px;
}

.cart-modal::-webkit-scrollbar-thumb {
  background-color: darkorange;
  width: 4px;
  border-radius: 3px;
}

.cart-title {
  padding-bottom: 20px;
}

.cart-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
}

.cart-items-list {
  list-style: none;
  padding: 0;
}

.cart-items-list li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.cart-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 12px;
}

.cart-item-image {
  width: 90px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}

.remove-from-cart-btn {
  margin-top: 20px;
  background-color: transparent;
  color: #e15d05;
}

.remove-from-cart-btn:hover {
  border-bottom: 1px #e15d05 solid;
}

.cart-item-info {
  flex: 1;
}

.cart-buy-btn {
  margin-top: 12px;
  padding: 10px 16px;
  background-color: #e15d05;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.cart-buy-btn:hover {
  background-color: black;
}

.open-cart-icon {
  stroke: yellow;
}

.cart-button {
  display: flex;
  position: fixed;
  bottom: 100px;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: #e15d05;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  transition: transform 0.3s;
  z-index: 98;
}

.cart-count-badge {
  position: absolute;
  top: -18px;
  right: 18px;
  color: #0b0500;
  /* color: rgb(255, 255, 255); */
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
}
