.theme-toggle {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #e15d05;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.theme-toggle:hover {
  background-color: #fceee6;
}

.theme-toggle svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
  transition: stroke 0.3s;
}

.theme-toggle:hover svg {
  stroke: #0b0500;
}

.icon-sun {
  display: none;
}

.dark-theme .icon-sun {
  display: block;
}

.dark-theme .icon-moon {
  display: none;
}

/* Приклад стилів темної теми */
body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: #e7e7e7;
}

/* Твої секції */
.dark-theme .events-section,
.dark-theme .feedback-section {
  background-color: #1e1e1e;
}

.dark-theme .hero-title {
  color: #d3d3d3;
}

.dark-theme .header-logo-icon,
.dark-theme .header-burger-icon,
.dark-theme .header-icon-close,
.dark-theme .hero-arrow-btn-next,
.dark-theme .hero-arrow-btn-prev,
.dark-theme .events-btn-icon,
.dark-theme .contact-icon,
.dark-theme .books-icon-arrow {
  fill: #d3d3d3;
}

.dark-theme .header-link,
.dark-theme .header-mobile-link,
.dark-theme .hero-title,
.dark-theme .hero-subtitle,
.dark-theme .feedback-title,
.dark-theme .feedback-subtitle,
.dark-theme .event-heading,
.dark-theme .events-title,
.dark-theme .events-description-top,
.dark-theme .events-card-title,
.dark-theme .events-meta,
.dark-theme .events-summary,
.dark-theme .title-layout-location-section,
.dark-theme .text-layout-location-section,
.dark-theme .marker-location-location-section,
.dark-theme .title-location-location-section,
.dark-theme .text-location-location-section,
.dark-theme .contact-label,
.dark-theme .contact-info,
.dark-theme .contact-link,
.dark-theme .contact-text,
.dark-theme .books-subtitle,
.dark-theme .book-count {
  color: #d3d3d3;
}

.dark-theme .header-mobile-menu.is-open,
.dark-theme .hero-btn,
.dark-theme .feedback-section,
.dark-theme .events-section {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.dark-theme .header-burger-btn {
  background: #272647;
}

.dark-theme .hero-btn,
.dark-theme .footer-form__button,
.dark-theme .scroll-up-btn,
.theme-toggle {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  color: #d3d3d3;
}

.dark-theme .picture,
.dark-theme .events-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  display: block;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.dark-theme .feedback-card,
.dark-theme .footer,
.dark-theme .learn-more-btn,
.dark-theme .dropdown-item,
.dark-theme .contact-modal-content {
  background: linear-gradient(135deg, #f5f5f5, #cfcfcf, #9e9e9e, #f5f5f5);
  color: #272647;
}

.dark-theme .feedback-text,
.dark-theme .feedback-name,
.dark-theme .feedback-role,
.dark-theme .footer-item,
.dark-theme .footer-logo__icon,
.dark-theme .footer-form__title,
.dark-theme .footer-form__input,
.dark-theme .footer-form__note,
.dark-theme .footer-copy,
.dark-theme .contact-modal-title,
.dark-theme .contact-modal-subtitle,
.dark-theme .contact-modal-label,
.dark-theme .contact-modal-input,
.dark-theme textarea::placeholder,
.dark-theme .footer-form__input::placeholder {
  color: #272647;
}

.dark-theme .location-image {
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.dark-theme .btn-1 {
  background-color: #131132;
  color: #d3d3d3;
}

.dark-theme .btn-2,
.dark-theme .btn-3 {
  background-color: #2b275a;
  color: #d3d3d3;
}

.dark-theme .footer-copy {
  border-top: 1px solid #272647;
}

.dark-theme .category-btn.active {
  color: #848181;
}

.dark-theme .category-btn,
.dark-theme .category-dropdown-label {
  color: #d3d3d3;
}

.dark-theme .dropdown-list::-webkit-scrollbar-thumb {
  background-color: #272647;
  border-radius: 3px;
}

.dark-theme .category-dropdown-btn {
  border: 1px solid #d3d3d3;
}

.dark-theme .pagination-btn {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: 1px solid #d3d3d3;
}

.dark-theme .hero-btn-slide,
.dark-theme .feedback-custom-button-next,
.dark-theme .feedback-custom-button-prev {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border: none;
  color: #d3d3d3;
  border-radius: 50%;
    width: 58px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
