.event-section {
  margin: 64px 0;
}

.event-section img {
  width: 100%;
  margin-bottom: 24px;
}

.event-title-span {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
}

.event-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.event-title-box > p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.event-section .event-swiper {
  margin: 0 auto;
}

.event-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.events-card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.events-meta {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 8px;
}

.events-summary {
  line-height: 1.5;
  margin-bottom: 16px;
}

.events-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0500;
  margin-bottom: 24px;
  margin-top: auto;
}

.event-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.event-section .swiper-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: visible;
}

.event-swiper-pagination {
  display: flex;
  gap: 8px;
}

.event-swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  opacity: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}

.event-custom-button-next,
.event-custom-button-prev {
  width: 48px;
  height: 48px;
  background-color: #e15d05;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static !important;
  border: 1px solid rgba(11, 5, 0, 0.15);
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s, fill 0.3s;
  box-sizing: border-box;
  flex: 0 0 48px;
}

.event-custom-button-next:hover,
.event-custom-button-next:focus,
.event-custom-button-prev:hover,
.event-custom-button-prev:focus {
  background-color: #fceee6;
}

.event-custom-button-next svg,
.event-custom-button-prev svg {
  fill: #fff;
  transition: fill 0.3s ease;
  width: 24px;
  height: 24px;
}

.event-custom-button-next:hover svg,
.event-custom-button-next:focus svg,
.event-custom-button-prev:hover svg,
.event-custom-button-prev:focus svg {
  fill: #0b0500;
}

.event-custom-button-next:active,
.event-custom-button-prev:active {
  background-color: #5a2502;
}

.event-custom-button-next:active svg,
.event-custom-button-prev:active svg {
  fill: #fff;
}

.event-custom-button-next.swiper-button-disabled,
.event-custom-button-prev.swiper-button-disabled,
.event-custom-button-next:disabled,
.event-custom-button-prev:disabled {
  background-color: #e15d05;
  fill: #fff;
  opacity: 0.2;
  pointer-events: none;
  cursor: default;
}

.event-section .event-custom-button-next.swiper-button-disabled svg,
.event-section .event-custom-button-prev.swiper-button-disabled svg,
.event-section .event-custom-button-next:disabled svg,
.event-section .event-custom-button-prev:disabled svg {
  fill: #fff;
}

.event-custom-button-next.active-swiper-btn,
.event-custom-button-prev.active-swiper-btn {
  background: #e15d05;
  fill: #fff;
  cursor: pointer;
}

.event-custom-button-next.active-swiper-btn svg,
.event-custom-button-prev.active-swiper-btn svg {
  fill: #fff !important;
}

.event-section .event-swiper .swiper-wrapper {
  display: flex;
}

.event-section .event-swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 538px;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .event-card {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .event-title {
    font-size: 48px;
  }

  .event-card {
    width: 100%;
  }

  .event-custom-button-next,
  .event-custom-button-prev {
    display: none !important;
  }
}
