.feedback-section {
  background-color: #fceee6;
  padding-top: 64px;
  padding-bottom: 64px;
}

.feedback-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0500;
  margin-bottom: 24px;
}

.feedback-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0500;
  margin-bottom: 80px;
}

.feedback-section .feedback-swiper {
  margin: 0 auto;
}

.feedback-card {
  width: 100%;
  height: auto;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 16px;
  padding: 32px;
  background-color: #fceee6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  box-sizing: border-box;
}

.feedback-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0500;
  margin-bottom: 24px;
}

.feedback-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.feedback-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
}

.feedback-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0500;
  margin: 0;
}

.feedback-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0500;
  margin: 0;
}

.feedback-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 32px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.feedback-section .swiper-wrapper {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: visible;
}

.feedback-swiper-pagination {
  display: flex;
  gap: 8px;
}

.feedback-swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #ccc;
  opacity: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedback-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}

.feedback-custom-button-next,
.feedback-custom-button-prev {
  width: 48px;
  height: 48px;
  background-color: #e15d05;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static !important;
  border: 1px solid rgba(11, 5, 0, 0.15);
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s, fill 0.3s;
  box-sizing: border-box;
  flex: 0 0 48px;
}

.feedback-custom-button-next:hover,
.feedback-custom-button-next:focus,
.feedback-custom-button-prev:hover,
.feedback-custom-button-prev:focus {
  background-color: #fceee6;
}

.feedback-custom-button-next svg,
.feedback-custom-button-prev svg {
  fill: #fff;
  transition: fill 0.3s ease;
}

.feedback-custom-button-next:hover svg,
.feedback-custom-button-next:focus svg,
.feedback-custom-button-prev:hover svg,
.feedback-custom-button-prev:focus svg {
  fill: #0b0500;
}

.feedback-custom-button-next:active,
.feedback-custom-button-prev:active {
  background-color: #5a2502;
}

.feedback-custom-button-next:active svg,
.feedback-custom-button-prev:active svg {
  fill: #fff;
}

.feedback-custom-button-next.swiper-button-disabled,
.feedback-custom-button-prev.swiper-button-disabled,
.feedback-custom-button-next:disabled,
.feedback-custom-button-prev:disabled {
  background-color: #e15d05;
  fill: #fff;
  opacity: 0.2;
  pointer-events: none;
  cursor: default;
}

.feedback-section .feedback-custom-button-next.swiper-button-disabled svg,
.feedback-section .feedback-custom-button-prev.swiper-button-disabled svg,
.feedback-section .feedback-custom-button-next:disabled svg,
.feedback-section .feedback-custom-button-prev:disabled svg {
  fill: #fff;
}

.feedback-custom-button-next.active-swiper-btn,
.feedback-custom-button-prev.active-swiper-btn {
  background: #e15d05;
  fill: #fff;
  cursor: pointer;
}

.feedback-custom-button-next.active-swiper-btn svg,
.feedback-custom-button-prev.active-swiper-btn svg {
  fill: #fff !important;
}

.feedback-section .feedback-swiper .swiper-wrapper {
  display: flex;
}

.feedback-section .feedback-swiper .swiper-slide {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .feedback-container {
    max-width: 768px;
    padding: 0 32px;
  }
  .feedback-card {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .feedback-container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .feedback-title {
    font-size: 48px;
  }

  .feedback-card {
    width: 100%;
  }
}
