.hero {
    padding-bottom: 32px;
}

.hero-wrap {
    width: 172px;
    position: absolute;
    left: 16px;
    top: 90px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-third-wrap,
.hero-fourth-wrap {
    width: 220px;
}

.hero-item {
    position: relative;
}

.hero-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #fff;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 0.52px solid #e15d05;
    border-radius: 2px;
    padding: 4px 10px;
    width: 117px;
    height: 20px;
    background: #e15d05;
    font-size: 8px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



.hero-box {
    margin-top: 16px;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0500;
}

.hero-btn-box {
    display: none;
}

@media screen and (min-width:768px) {

    .hero-wrap {
        width: 274px;
        left: 40px;
        top: 118px;
    }

    .picture {
        border-radius: 11px;
    }

    .hero-third-wrap,
    .hero-fourth-wrap {
        width: 390px;
    }

    .hero-subtitle {
        font-size: 32px;
        line-height: 1.2;
    }

    .hero-btn {
        border: 1px;
        border-radius: 4px;
        padding: 4px 20px;
        width: 164px;
        height: 32px;
        font-size: 16px;
    }

    .hero-btn:focus,
    .hero-btn:hover {
        color: #fff;
        background-color: #0b0500;
        transform: scale(1.2);
    }

    .hero-box {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero-title {
        max-width: 500px;
    }

    .hero-btn-box {
        display: flex;
        gap: 24px;
    }

    .hero-btn-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        border: 1px solid rgba(11, 5, 0, 0.15);
        padding: 12px;
        width: 48px;
        height: 48px;
        background: #e15d05;
        fill: #fff;
        transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .hero-btn-slide:hover {
        background-color: #fff;
        fill: #0b0500;
        border: none;
    }

    .hero-btn-slide:focus {
        background: #5a2502;
    }

    .hero-btn-slide:hover>svg {
        transform: scale(1.6);
    }

    .hero-btn-slide:disabled {
        opacity: 0.2;
        transform: none;
        color: #fff;
        cursor: no-drop;
    }
}

@media screen and (min-width:1440px) {

    .picture {
        border-radius: 16px;
    }

    .hero-wrap {
        left: 56px;
        top: 155px;
        width: 392px;
        gap: 20px;
    }

    .hero-third-wrap,
    .hero-fourth-wrap {
        width: 561px;
    }

    .hero-subtitle {
        font-size: 52px;
        line-height: 1.2;
    }

    .hero-title {
        font-size: 52px;
        max-width: 1000px;
    }

    .hero-btn {
        width: 227px;
        height: 40px;
        padding: 8px 20px;
        font-weight: 400;
    }

}